.person-list-container {
  padding: 20px;
  text-align: center;
}
 
.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}
 
.person-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}
 
.person-item {
  background-color: #f4f4f4;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  text-align: left;
}
